.swagger-ui-container {
  position: absolute;
  top: 0;
  left: 50%;
  overflow: auto;
  width: 100%;
  max-width: 980px;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  transform: translateX(-50%);
}

.swagger-ui .wrapper {
  padding: 0;
}
